.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
  margin-top: 5%;
  transition: 1s;
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}



.input-frame {
  margin: 0px 0px 8px;
  padding: 16px 12px;
}

.login-img {
  width: 200px;
  height: 200px;
}

.eye {
  float: right;
  margin-right: 15px;
  margin-top: -57px;
  position: relative;
  font-size: 1.5rem;
  z-index: 2;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.5s;
}

.eye:hover {
  opacity: 1;
}

#offcanvasNavbarLabel {
  cursor: pointer;
}

.username {
  margin-bottom: -1px !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}

.password {
  margin-bottom: 10px !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.login-spinner {
  width: 200px;
  height: 200px;
  font-size: 150px;
  opacity: 0.1;
  margin-bottom: 50px;
}

th,
td {
  vertical-align: middle;
  text-align: center;
  /* font-size: 1.5rem; */
}

ul {
  padding-top: 18px;
}

th {
  font-size: 1.5rem;
}

.thead-opacity {
  opacity: 0.8;
}

.delivery-order {
  width: 180px;
}


.wxr {
  width: 150px;
}

.hidden-bill {
  position: absolute;
  opacity: 0;
}

.show-bill {
  position: relative;
  transition: all 1s;
  opacity: 1;
}

.modal-textarea {
  position: relative !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;;

}

.modal-textarea-input {
  padding-top: 0.5rem !important;
} 

.label-error-color {
  color: rgb(229, 64, 64);
}

.bill-width, .remark-width {
  min-width: 200px;
}

.remark-width {
  text-align: left;
  max-width: 300px;
}

.date-width {
  min-width: 95px;
}

tr {
  height: 100px;
  font-size: 1.25rem;
  transition: 50ms;
}

tr:hover {
  font-size: 1.3rem;
  text-shadow: 3px 3px 4px rgb(167, 167, 167);
}

body {
  font-family: 'Baloo Da 2', cursive;
  font-family: 'ZCOOL XiaoWei', serif;
}

.navbar-brand {
  font-size: 1.5rem;
}

/* .offcanvas-header {
  font-size: 2rem;
} */

#offcanvasNavbarLabel {
  font-size: 1.7rem;
}

.offcanvas-body {
  font-size: 1.5rem;
}

.modal-footer {
  border-top: 0 !important;
}

.filter-form {
  /* position: absolute; */
  /* right: 80px; */
  /* margin-right: 500px; */
  /* margin-top: 1144px; */

}

.filter {
  width: 5rem;
  transition: 1s;
  opacity: 0.5;
  /* margin-top: 800px; */
  right: 90px;
  margin-top: -18px;
  position: fixed;
}


.filter:focus {
  width: 15rem;
  opacity: 1;
}

.four-o-four {
  margin-top: 3%;
  text-align: center;
}